@use '_variables' as v;
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin sidebar-item-active {
	background-color: var(--accent);
	color: var(--text-contrast);
	font-weight: 600;
}

// Mixin for standard editor input reset
@mixin editor-input-reset {
	margin: 0;
	outline: none;
	border: 0;
	background-color: var(--surface-1);
	padding: 2px;
	resize: none;
	color: var(--text-0);
}

// Mixin for a standard focused editor item (non-group)
@mixin editor-focused($content-code, $color-var) {
	opacity: 1;
	border: 1px solid var(--accent-hover);

	&::after {
		position: absolute;
		top: 50%;
		left: -1.5rem;
		transform: translateY(-50%);
		content: $content-code;
		color: $color-var;
		font-weight: bold;
		font-family: v.$font-nerd;
	}
}

// Mixin for a focused config group
@mixin config-group-focused($content-code, $color-var) {
	opacity: 1;
	border: 3px solid var(--accent-hover);

	&::after {
		position: absolute;
		top: 0rem;
		left: 0.5rem;
		align-content: center;
		transform: translateY(-50%);
		background-color: var(--surface-1);
		padding-left: 0.2rem;
		width: 1rem;
		content: $content-code;
		color: $color-var;
		font-weight: bold;
		font-family: v.$font-nerd;
	}
}

// Common input styling for text fields in modals (minimal reset)
%input-clean {
	outline: none !important;
	box-shadow: none !important;
	border: 0;
	border-radius: var(--border-rad);
	background-color: transparent;
	overflow: hidden;
	resize: none;
	color: var(--text-1);
	font-weight: 400;
	font-family: v.$font;

	&:hover {
		cursor: text;
		color: var(--text-1);
	}

	&:focus,
	&:focus-visible {
		text-decoration: underline;
	}
}

// Common button interaction/scale effect
%btn-interactive {
	position: relative;
	transition: transform 0.1s ease;
	background-color: var(--surface-2);

	&:hover {
		transform: scale(1.05);
		background-color: var(--surface-border);
	}

	&:active {
		transform: scale(0.95);
	}
}

%slider-base {
	box-shadow: none;
	border: 1px solid var(--surface-0);
	background-color: var(--surface-2);
	width: 90%;

	&#slider-square {
		border-radius: 0;

		.noUi-handle {
			top: -1px;
			right: -9px;
			cursor: ew-resize;
			border-radius: 0;
			background-color: var(--accent);
			width: 1rem;
			height: 18px;
		}
	}
}

@mixin isActive {
	//scale: 1.05 !important;
	outline: none;
	border: 2px solid var(--accent-active) !important;
}
