:root {
  &.tokyo {
    --bg: #0a0047;
    --sbg: #004687;
    --prim: #ff4499;
    --sec: #00ffd2;
  }
  &.mocha {
    --bg: #1a1823;
    --sbg: #1a1823;
    --prim: #c29df1;
    --sec: #f3bce6;
  }
  &.siloe {
    --bg: #f9e0e3;
    --sbg: #fffbdc;
    --prim: #602766;
    --sec: #713d77;
  }
}

@font-face {
  font-family: "CommitMono Nerd Font";
  src: url("fonts/CommitMonoNerdFont-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  // border: var(--sec) 1px solid;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  background-color: var(--bg);
  color: var(--prim);
}

html {
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "CommitMono Nerd Font Mono", monospace;
}

body {
  padding: 1ch;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

div#main {
  padding-top: 1rem;
  display: flex;
  flex: 1;
  flex-direction: row;
}

aside#sidebar {
  width: clamp(10ch, 20%, 30ch);
  height: 100%;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      justify-content: center;
      align-content: center;
      height: 3rem;
      padding-left: 2rem;
      border-radius: 1ch;
      &:hover {
        transform: scale(1.05);
        background-color: var(--sec);
        border: 1px solid var(--sec);
        color: var(--bg);
      }
      &:active {
        transform: scale(0.95);
        background-color: var(--sec);
      }
    }
  }
}

header {
  border-bottom: 1px solid var(--prim);
  padding: 1rem;
}
footer {
  display: flex;
  flex-direction: row;
  > * {
    font-size: 1rem;
  }
}
a {
  // font-size: 1rem;
}
button {
  border: none;
  &:hover {
    transform: scale(1.1);
  }
}

.selected {
}
