:root {
  --border-rad: 5px;
  overflow: hidden;
}
:root.tokyo {
  --bg: #0a0047de;
  --sbg: #0a3964;
  --prim: #05c5a2;
  --sec: #ff4499;
}
:root.mocha {
  --bg: #1a1823de;
  --sbg: #36314e;
  --prim: #c29df1;
  --sec: #f3bce6;
}
:root.siloe {
  --bg: #f9e0e3de;
  --sbg: #fffbdc;
  --prim: #602766;
  --sec: #713d77;
}

@font-face {
  font-family: "CommitMono Nerd Font";
  src: url("fonts/CommitMonoNerdFont-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border-radius: var(--border-rad);
  transition: all 0.1s ease-in-out;
  transition: color 0.05s;
  box-sizing: border-box !important;
  /* border: var(--sec) 1px solid;*/
}

html {
  height: 100%;
  background-color: var(--bg);
  color: var(--prim);
  font-family: "CommitMono Nerd Font Mono", monospace;
  font-size: 62.5%;
  min-height: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  min-height: 0;
  overflow: hidden;
}

header {
  padding: 1rem;
  border-radius: 0;
  border-bottom: 1px solid var(--prim);
}
header:hover {
  transform: scale(1.01);
}

div#main {
  display: flex;
  padding-top: 1rem;
  flex: 1;
  flex-direction: row;
  min-height: 0;
  max-width: 100%;
}

aside#sidebar {
  height: 100%;
  flex: 0 1 20%;
  min-width: 0;
}
aside#sidebar ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
aside#sidebar ul li {
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
  border-radius: 0ch;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
aside#sidebar ul li:hover {
  border: 1px solid var(--sec);
  background-color: var(--sec);
  color: var(--bg);
  font-weight: 600;
}
aside#sidebar ul li:active {
  background-color: var(--sec);
  font-weight: 600;
  transform: scale(0.95);
}
aside#sidebar ul li.selected {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: 600;
}

#content-area {
  display: flex;
  height: 100%;
  padding-left: 1rem;
  flex: 0 0 80%;
  flex-direction: column;
  max-width: 80%;
  min-height: 0;
}
#content-area .config-set {
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0rem;
  overflow-y: scroll;
}
#content-area h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
footer > * {
  font-size: 1rem;
}

a {
  background-color: none;
  color: var(--prim);
  /* font-size: 1rem;*/
}
a:checked {
  color: var(--prim);
}

button {
  /* padding: 0.5rem;*/
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none !important;
  visibility: hidden;
  flex: 0;
}

.editor-item {
  /* border: 1px solid var(--sbg);*/
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--bg);
  opacity: 0.7;
  background-blend-mode: darken;
  height: auto;
  /* transition: opacity 0.2s;*/
}
.editor-item > * > ** {
  min-width: 0 !important;
}
.editor-item:focus-within {
  border: 1px solid var(--prim);
  opacity: 1;
}
.editor-item.compact > .keybind-editor, .editor-item.compact > .comment-area {
  display: none !important;
}
.editor-item .editor-item-preview {
  margin-bottom: 2px;
  font-size: 1.4rem;
}
.editor-item .editor-item-preview i {
  opacity: 0.7;
  color: var(--sec);
}
.editor-item .keybind-editor {
  display: flex;
  flex-direction: row;
}
.editor-item .keybind-editor > * {
  margin-right: 1rem;
  background-color: var(--sbg);
  color: var(--sec);
  flex: 1;
}
.editor-item .keybind-editor > textarea {
  border: 0;
  outline: none;
  resize: none;
  padding: 2px 2px;
}
.editor-item .comment-area {
  display: flex;
  margin-top: 0.2rem;
  padding: 0;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.editor-item .comment-area > * {
  height: 2rem;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}
.editor-item .comment-area > *:focus {
  border: none;
  border-bottom: 1px solid var(--sec) !important;
  opacity: 1;
  outline: none;
}
.editor-item .comment-area:has(> textarea:placeholder-shown) {
  opacity: 0.3;
}
.editor-item .comment-area .comment {
  display: flex;
  height: 2rem;
  padding: 2px;
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: var(--prim);
  font-style: italic;
  align-items: center;
  resize: none;
  /* text-align: center;*/
}
.editor-item .comment-area .comment:hover {
  cursor: text;
  opacity: 1;
}
.editor-item .comment-area .comment-hashtag {
  padding-top: 4px;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
