@charset "UTF-8";
/* =================================
   1. Variables & Mixins
   ================================= */
/* =================================
   2. Theming & Base Styles
   ================================= */
:root {
  --spacing-unit: 1rem;
  --border-rad: 5px;
  --font-primary: "CommitMono Nerd Font Mono";
}
:root.tokyo {
  --bg: #0a0047de;
  --sbg: #094277;
  --prim: #05c5a2;
  --sec: #ff4499;
}
:root.mocha {
  --bg: #1e1e2e;
  --sbg: #36314e;
  --bg1: #45475a;
  --bg2: #585b70;
  --prim: #b09fe3;
  --prim2: #bac2de;
  --prim3: #a6adc8;
  --sec: #f3bce6;
}
:root.siloe {
  --bg: #f9e0e3de;
  --sbg: #fffbdc;
  --prim: #602766;
  --sec: #713d77;
}

@font-face {
  font-family: "CommitMono Nerd Font";
  src: url("fonts/CommitMonoNerdFont-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--prim);
  font-family: var(--font-primary);
  overflow: hidden;
  min-height: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-unit);
  font-size: 1.6rem;
  max-width: 100%;
  min-height: 0;
  overflow: hidden;
  transition: background-color 0.1s ease, color 0.05s ease;
  overflow-x: hidden;
}

/* =================================
   3. Layout
   ================================= */
header {
  padding: var(--spacing-unit);
  border-bottom: 1px solid var(--prim);
  border-radius: 0;
  transition: transform 0.1s ease;
}
header:hover {
  transform: scale(1.01);
}

#main {
  display: flex;
  flex: 1;
  padding-top: var(--spacing-unit);
  min-height: 0;
  max-width: 100%;
}

#sidebar {
  height: 100%;
  flex: 0 0 20%;
  min-width: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

#content-area {
  display: flex;
  height: 100%;
  padding-left: var(--spacing-unit);
  flex: 0 0 80%;
  max-width: 80%;
  flex-direction: column;
  min-height: 0;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: var(--spacing-unit);
}
footer > * {
  font-size: 1rem;
}

/* =================================
   4. Components
   ================================= */
.tab-separator {
  margin-left: var(--spacing-unit);
  margin-top: var(--spacing-unit);
  border-bottom: 3px solid var(--sbg);
  border-radius: 0;
  font-size: 1.2rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: var(--spacing-unit);
  width: 100%;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.1s ease, color 0.05s ease, transform 0.1s ease;
}
.sidebar-item:hover {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: 600;
  border: 1px solid var(--sec);
}
.sidebar-item:active {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: 600;
  transform: scale(0.95);
}
.sidebar-item.selected {
  background-color: var(--sec);
  color: var(--bg);
  font-weight: 600;
}

.config-set {
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow-y: scroll;
  margin-top: 1rem;
}
.config-set h1 {
  margin-bottom: var(--spacing-unit);
  font-size: 1.6rem;
}
.config-set#settings .setting-container {
  display: flex;
  margin-left: var(--spacing-unit);
  flex-direction: row;
  align-items: center;
}
.config-set#settings .setting-container input[type=checkbox] {
  margin-right: var(--spacing-unit);
  width: 2rem;
  height: 2rem;
  transition: background-color 0.1s ease, color 0.05s ease;
}
.config-set#settings .setting-container input[type=checkbox]:active {
  transform: scale(1.5);
}
.config-set#settings .setting-container label:hover {
  filter: brightness(5);
}

.editor-item {
  height: auto;
  margin-bottom: var(--spacing-unit);
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--sbg);
  opacity: 0.7;
  background-blend-mode: multiply;
  border-radius: var(--border-rad);
}
.editor-item:focus-within {
  border-color: var(--prim);
  opacity: 1;
}
.editor-item:focus-visible {
  outline: none;
  border: 1px dashed var(--sec);
}
.editor-item.compact > .keybind-editor,
.editor-item.compact > .comment-area {
  display: none !important;
}
.editor-item .editor-item-preview {
  margin-bottom: 2px;
  font-size: 1.4rem;
}
.editor-item .editor-item-preview i {
  color: var(--sec);
  opacity: 0.7;
}
.editor-item .keybind-editor {
  display: flex;
  flex-direction: row;
}
.editor-item .keybind-editor > * {
  margin-right: var(--spacing-unit);
  background-color: var(--bg1);
  color: var(--sec);
  flex: 1;
  border-radius: var(--border-rad);
}
.editor-item .keybind-editor > textarea {
  padding: 2px 2px;
  border: 0;
  outline: none;
  resize: none;
}
.editor-item .comment-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  padding: 0;
}
.editor-item .comment-area > * {
  height: 2rem;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}
.editor-item .comment-area > *:focus {
  border: none;
  border-bottom: 1px solid var(--sec) !important;
  opacity: 1;
  outline: none;
}
.editor-item .comment-area:has(> textarea:placeholder-shown) {
  opacity: 0.6;
}
.editor-item .comment-area .comment {
  display: flex;
  height: 2rem;
  padding: 2px;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: var(--prim);
  font-style: italic;
  align-items: center;
  resize: none;
}
.editor-item .comment-area .comment:hover {
  cursor: text;
  opacity: 1;
}
.editor-item .comment-area .comment-hashtag {
  padding-top: 0px;
}

.editor-item:has(> .editor-item-comment) {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  opacity: 1;
}
.editor-item:has(> .editor-item-comment) > .editor-item-comment {
  margin-bottom: 0;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: var(--prim);
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: none !important;
  opacity: 0.7;
  outline: none !important;
  resize: none;
  overflow: hidden;
}
.editor-item:has(> .editor-item-comment) > .editor-item-comment::after {
  margin-left: 2px;
  content: " ⇢";
  flex-shrink: 0;
}
.editor-item:has(> .editor-item-comment) > .editor-item-comment:hover {
  cursor: text;
  opacity: 1;
}
.editor-item:has(> .editor-item-comment) > .editor-item-comment:focus, .editor-item:has(> .editor-item-comment) > .editor-item-comment:focus-visible {
  outline: none;
  border: 1px dashed var(--sec);
}

.todo {
  border-radius: var(--border-rad);
  color: var(--sec);
  white-space: nowrap;
}
.todo.disabled {
  border: 1px dashed red;
}

/* =================================
   5. Base Elements & Utilities
   ================================= */
a {
  background: none;
  color: var(--prim);
  text-decoration: none;
  transition: color 0.1s ease;
}
a:hover {
  color: var(--sec);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--prim);
  transition: transform 0.1s ease, color 0.1s ease;
}
button:hover {
  transform: scale(1.1);
  color: var(--sec);
}

.hidden {
  display: none !important;
  visibility: hidden;
  flex: 0;
}

/*# sourceMappingURL=style.css.map */
