@use 'wiki.scss' as *;
@use 'scrollbars.css' as *;
@use 'tippy.css' as *;
@use 'sharetext' as *;
@use 'shareScreen' as *;
@use 'prism.css' as *;
@use 'tippy.css' as *;
@use 'contextMenu.scss' as *;
@use 'overlayElement' as *;
@use 'settings' as *;
