.context-menu {
	position: absolute;
	right: 0%;
	top: calc(100% + 1rem);
	z-index: 300;
	display: flex;
	padding: calc(var(--spacing-unit) / 2);
	border: 1px solid var(--surface-border);
	border-radius: var(--border-rad);
	background-color: var(--surface-0);
	opacity: 0;
	transition: all 0.2s ease;
	flex-direction: row;

	.ctx-button {
		display: flex;
		width: 4rem;
		color: var(--text-1);
		cursor: pointer;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		gap: 0.2rem;
		transition: all 0.2s ease;

		.ctx-button-icon {
			font-size: 3rem;
			line-height: 2rem;
		}

		.ctx-button-label {
			font-size: 1rem;
			line-height: 1rem;
			text-align: center;
		}

		&:hover {
			transform: scale(1.2);
			filter: brightness(1.2);
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
