@use '../_variables' as v;
@use '../utils' as *;
@use '../mixins' as *;
.context-menu {
	display: flex;
	position: absolute;
	//top: calc(100% + 1rem);
	top: 100%;
	right: 0%;
	flex-direction: column;
	opacity: 0;
	z-index: 300;
	transition:
		all 0.2s ease,
		top 0s;
	border: 1px solid var(--surface-border);
	border-radius: var(--border-rad);
	background-color: var(--surface-0);
	width: 15rem;
	overflow: hidden;

	.ctx-button {
		@include text-ellipsis;
		display: flex;
		flex-direction: row;
		//justify-content: center;
		align-items: center;
		gap: 0.5rem;
		transition: all 0.2s ease;
		cursor: pointer;
		cursor: pointer;
		padding: 0.2rem 1rem;
		//width: 4rem;
		overflow: hidden;
		color: var(--text-1);

		.ctx-button-icon {
			font-size: 2rem;
			line-height: 2rem;
			font-family: v.$font-nerd;
		}

		.ctx-button-label {
			font-size: 1.2rem;
			line-height: 1rem;
			text-wrap: nowrap;
			//text-align: center;
		}

		&:hover {
			//transform: scale(1.2);
			//filter: brightness(1.2);
			background-color: var(--accent);
			color: var(--text-contrast);
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
