@use "../variables" as v;
@use "../mixins" as *;
footer {
	transition: height 1s;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	z-index: 10;
	box-shadow: 10px 10px 10px var(--accent);
	padding: 0 10px;
	//height: 3rem;
	height: 30px;
	font-size: 10px;


	//> * {
	//	font-size:calc( 1rem * var(--zoom-factor)) !important;
	//	@media (max-width: 768px) and (pointer: coarse) {
	//		padding: 0.5rem;
	//		font-size: 1.6rem;
	//	}
	//}

	#shortcuts {
		display: none;
		margin-right: auto;
		button {
			background-color: transparent;
			padding: 0.1 0.6rem;
			color: var(--text-0);
			font-size: 2rem;
		}
	}

	p {
		font-size: min(invert-zoom(10px), 14px);
		font-weight: bold;
	}

	button {
		transition:
			transform v.$transition-speed-fast ease,
			color v.$transition-speed-fast ease;

		cursor: pointer;
		border: none;
		background: 20px;
		font-family: v.$font;
		//aspect-ratio: 1/1;
		height: 100%;
		align-items: center;
		padding: 1px 6px;
		opacity: 50%;

		&:hover {
			transform: scale(1.2);
			color: var(--accent);
			background-color: transparent;
		}
		&:active {
			transform: scale(0.7) !important;
		}
	}

	.footer-outdated-text {
		display: inline-block;
		transform: translateY(0.05rem);
		transition: width 1s ease;
		width: 0ch;
		overflow: hidden;
		line-height: 0.9;
	}
}