/*/*/
/** Firefox * !*!*/
* {
	scrollbar-width: auto; /* or thin */
	scrollbar-color: auto; /* don't force colors yet */
}

/* Chromium / WebKit */
*::-webkit-scrollbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	/*height: 8px;*/
	max-width: 0;
	min-width: 0px !important;
}

*::-webkit-scrollbar-track {
	background: transparent !important;
}

*::-webkit-scrollbar-thumb {
	/*background-color: transparent !important;*/
	border-radius: 0;
	border: none;
}

*::-webkit-scrollbar-corner {
	background: transparent !important;
}


/*::-webkit-scrollbar {*/
/*	display: none;*/
/*}*/

