/*!* Firefox *!*/
* {
	scrollbar-width: auto; /* or thin */
	scrollbar-color: auto; /* don't force colors yet */
}

/* Chromium / WebKit */
*::-webkit-scrollbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	/*height: 8px;*/
	min-width: 1px !important;
}

*::-webkit-scrollbar-track {
	background: transparent !important;
}

*::-webkit-scrollbar-thumb {
	/*background-color: transparent !important;*/
	border-radius: 0;
	border: none;
}

*::-webkit-scrollbar-corner {
	background: transparent !important;
}


/*.scrollable::-webkit-scrollbar {*/
/*	display: none; !* WebKitGTK *!*/
/*}*/

/*.scrollable {*/
/*	scrollbar-width: none; !* hides scrollbar *!*/
/*	-ms-overflow-style: none; !* for IE/Edge *!*/
/*}*/

/*!* Chromium / WebKit *!*/
/*.scrollable::-webkit-scrollbar {*/
/*	display: none; !* hides scrollbar *!*/
/*}*/