/* Firefox */
* {
	scrollbar-width: auto; /* or thin */
	scrollbar-color: auto; /* don't force colors yet */
}

/* Chromium / WebKit */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--surface-1);
}

*::-webkit-scrollbar-thumb {
	/*background-color: transparent !important;*/
	border-radius: 0;
	border: none;
}

*::-webkit-scrollbar-corner {
	background: transparent !important;
}

.scrollable::-webkit-scrollbar {
	display: none; /* WebKitGTK */
}
