@use '../_variables.scss' as v;

#compressor_screen {
	background-color: var(--surface-0);
	.share-config {
		display: flex;
		flex-direction: column;
		height: 90%;
		padding: 1rem;
		gap: 0.5rem;

		/* ===== Toolbar ===== */
		.toolbar {
			> * {
				height: 3rem;
			}
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 0.5rem;
			margin-bottom: 1rem;
			flex: 0 0 auto; // don't stretch

			button {
				padding: 0.4rem 0.8rem;
				color: var(--text-contrast);
				cursor: pointer;
				//background-color: transparent;
				aspect-ratio: 1/1;
			}

			input[type='text'] {
				font-size: 1rem;
				padding: 0.3rem 0.5rem;
				width: 150px;
				background-color: var(--surface-0);
				outline: none;
				border: none;
				font-size: 1.6rem;
			}

			input[type='range'] {
				flex: 1;
				min-width: 100px;
			}

			.file-size {
				margin-left: auto; // push to right
				font-size: 1rem;
				color: #555;
			}
		}

		/* ===== Textarea ===== */
		textarea {
			flex: 1 1 auto; // take remaining space
			width: 100%;
			min-height: 100px;
			font-family: v.$font;
			//font-size: 1rem;
			padding: 1rem;
			padding-right: 0.5rem;
			border: none;
			outline: none;
			resize: none;

			overflow: auto; // scroll when content exceeds
			white-space: pre-wrap; // wrap text, keep line breaks
			overflow-wrap: break-word; // wrap long words
			word-break: break-word;

			background-color: var(--surface-0);
			color: var(--text-0);
		}

		textarea.decompressed {
			white-space: pre-wrap !important; // preserve formatting
		}
	}
}
