.config-group {
	//display: flex;
	position: relative;
	flex-direction: column;
	opacity: 1;
	transition:
		margin 0.3s ease,
		scale 0.2s ease;
	margin-top: var(--spacing-unit);
	margin-bottom: var(--spacing-unit);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	//box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	border: 3px solid var(--surface-2);
	border-radius: var(--border-rad);
	background-color: var(--surface-1);
	background-blend-mode: multiply;
	padding: 2rem;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	max-width: 100%;
	//overflow: clip;

	&.rule > .editor-item {
		//border: 1px red solid !important;
		padding: 0.15rem;
	}
	@media (max-width: 768px) {
		border: 0px;
		padding: 0.5rem;
		padding-top: 1.5rem;
	}

	> .config-group {
		margin-top: 1.5rem;
	}

	&.rule {
		background-color: var(--surface-0);
	}
	&[data-disabled='true'] {
		//border: 3px solid var(--accent-warning);
		&::before {
			content: attr(data-name) ' (Disabled)';
			color: var(--accent-warning);
		}
	}
}

/* the floating label on the border */
.config-group::before {
	position: absolute;
	top: 0;
	left: 1rem;
	transform: translateY(-50%);
	//backdrop-filter: brightness(0.1);
	//border: 0px solid;
	outline: none;
	//color: red;
	//outline: red;
	background-color: var(--surface-1);
	padding: 0 0.5em;
	content: attr(data-name);

	color: var(--text-1);
	font-weight: 800;
	font-size: 1.6rem;
	text-transform: capitalize;
	@media (max-width: 768px) {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	@media (pointer: coarse) {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: 1.8rem;
	}
}
