.config-group {
	background-color: var(--surface-1);
	background-blend-mode: multiply;
	position: relative;
	display: flex;
	margin-bottom: var(--spacing-unit);
	margin-top: var(--spacing-unit);
	padding: 2rem;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	border: 3px solid var(--surface-1);
	border-radius: var(--border-rad);
	flex-direction: column;
	opacity: 1;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	transition:
		margin 0.3s ease,
		scale 0.2s ease;
	@media (max-width: 768px) {
		padding: 0.5rem;
		padding-top: 1.5rem;
		border: 0px;
	}

	> .config-group {
		margin-top: 1.5rem;
	}

	&.rule {
		background-color: var(--surface-0);
	}
	&[data-disabled='true'] {
		//border: 3px solid var(--accent-warning);
		&::before {
			content: attr(data-name) ' (Disabled)';
			color: var(--accent-warning);
		}
	}
}

/* the floating label on the border */
.config-group::before {
	left: 1rem;
	position: absolute;
	top: 0;
	padding: 0 0.5em;
	background-color: var(--surface-1);
	backdrop-filter: brightness(0.1);
	color: var(--text-1);
	font-size: 1.6rem;
	font-weight: 800;
	text-transform: capitalize;
	transform: translateY(-50%);
	content: attr(data-name);
	@media (max-width: 768px) {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	@media (pointer: coarse) {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: 1.8rem;
	}
}
