@use '../mixins' as *;
@use '../_variables' as v;

.editor-item {
	display: flex;
	position: relative;
	flex-direction: column;
	transition:
		margin 0.2s ease,
		border 100ms ease-in-out,
		scale 0.2s ease,
		opacity 0.5s ease;
	margin-bottom: var(--spacing-unit);
	border: 1px solid transparent;
	border-radius: var(--border-rad);
	background-color: var(--surface-0);
	padding: 0.5rem;
	//overflow: clip;
	font-size: 1.6rem;

	&::after {
		font-family: v.$font;
	}
	&.invalid:not(.disabled) {
		animation: slow-flash 3s ease-in-out;
		animation-iteration-count: infinite;
		//border: 1px solid var(--accent-warning);
	}
	@keyframes slow-flash {
		0% {
			background-color: var(--surface-0);
		}
		50% {
			background-color: var(--accent-warning);
		}
		0% {
			background-color: var(--surface-0);
		}
	}

	@media (max-width: 768px) and (pointer: coarse) {
		padding: 1.3rem;
	}

	&:focus {
		outline: none;
	}

	// --- State Handling ---
	&:is(:focus, :focus-visible, :focus-within) {
		&.config-group:not(:focus-within) {
			@include config-group-focused('', var(--accent-success));
			&::after {
				content: '';
			}
		}
		&:not(.config-group) {
			@include editor-focused('', var(--accent-success));
			&::after {
				content: '';
				font-family: v.$font-nerd;
			}
		}
	}

	&:focus-within:not(:focus):not(.config-group) {
		@include editor-focused('', var(--accent-warning));
		&::after {
			content: '';
		}
	}

	// --- Sub-Components ---
	&-preview {
		position: relative;
		margin-bottom: 2px;
		font-size: 1.4rem;
		word-break: break-word;

		@media (max-width: 768px) and (pointer: coarse) {
			font-size: 1.8rem;
		}

		i {
			color: var(--text-2);
		}
		span {
			font-weight: bold;
			&#key {
				color: var(--accent);
			}
			&#value {
				color: var(--teal);
			}
		}
	}

	.generic-editor,
	.keybind-editor {
		display: flex;
		flex-direction: column;

		textarea,
		input {
			@include editor-input-reset;
			@include text-ellipsis;
			font-size: 1.4rem;
			@media (max-width: 768px) and (pointer: coarse) {
				font-size: 1.6rem;
			}
		}
	}

	.generic-editor {
		flex: 1;
		align-items: stretch;
		gap: 1rem;
		margin-top: 1rem;
		width: 100%;
		//overflow: hidden;

		@media (max-width: 768px) {
			flex-direction: column !important;
		}

		textarea,
		input {
			//border: var(--surface-border) 1px solid;
			border-radius: var(--border-rad);
		}
		> textarea {
			width: 100%;
			height: 3rem;
		}
		input[data-coloris] {
			position: relative;
			z-index: 5;
			box-sizing: border-box;
			outline-offset: -10px;
			border-radius: 0;
			//border: 1px solid var(--surface-0);
			background: url('/assets/transparent.png') center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			max-width: 100%;
			//border: 1px solid red;
			overflow: visible;
			&:is(:focus, :focus-within) {
				outline: none;
			}
		}
		//&:has([data-coloris]) {
		//	overflow: hidden;
		//	&::after {
		//		position: absolute;
		//		//top: 0;
		//		z-index: 1;
		//		inset: 0;
		//		top: ;
		//		left: 0;
		//		border-radius: inherit;

		//		background-size: contain;
		//		max-height: 10px;
		//		content: '';
		//	}
		//}
	}

	.keybind-editor {
		//display: block;
		position: relative;
		gap: 0.5rem;
		color: var(--text-0);

		> textarea,
		> input {
			border-radius: var(--border-rad);
			height: 3rem !important;
			&:disabled {
				opacity: 0.5;
			}
		}

		> textarea {
			padding: 0.5rem 0 0;
			line-height: 2rem;
		}
	}

	.comment-area {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0.2rem;
		font-style: italic;
		font-size: 1.4rem;

		&:has(> textarea:placeholder-shown) {
			opacity: 0.6;
		}

		.comment {
			@include text-ellipsis;
			display: flex;
			margin-left: 1ch;
			border: 0;
			background: transparent;
			width: 100%;
			height: 2rem;
			resize: none;
			color: var(--text-1);
			font-size: 1.4rem;
			&:hover,
			&:focus {
				cursor: text;
				color: var(--text-1);
			}
		}

		> * {
			height: 2rem;
			&:focus {
				outline: none;
				border: none;
				border-bottom: 1px solid var(--accent) !important;
			}
		}
	}

	// --- Modifiers ---
	&.compact {
		.keybind-editor,
		.generic-editor,
		.comment-area {
			display: none;
			opacity: 0;
		}
	}

	&.disabled > .editor-item-preview {
		@media (min-width: 769px) {
			padding-left: 6rem;
			&::before {
				position: absolute;
				transform: translateY(3px) translateX(-100%);
				padding: 0 0.5ch;
				content: 'Disabled';
				color: var(--accent-warning);
				font-size: 1.2rem;
			}
			//&::before {
			//	transform: translateX(-90%) translateY(-0.7rem);
			//	//transform: rotate(-90deg) translateY(-4.5rem) translateX(-2ch);
			//	content: '󰈉';
			//	//top: 50%;
			//	//content: 'Disabled';
			//	color: var(--accent-warning);
			//	font-weight: bold;
			//	font-size: 3rem;
			//}
		}

		@media (max-width: 768px) {
			padding-left: 3rem;
			&::before {
				position: absolute;
				top: 50%;
				transform: translateX(-160%) translateY(-45%);
				//transform: rotate(-90deg) translateY(-4.5rem) translateX(-2ch);
				content: '󰈉';
				//content: 'Disabled';
				color: var(--accent-warning);
				//font-weight: bold;
				font-size: 2.5rem;
			}
		}
	}

	&:is(:focus-visible, :focus) {
		outline: 2px solid var(--accent-color) !important;
		outline-offset: 2px !important;
	}

	// --- Specific ID overrides ---
	&#theme-selector-setting {
		select {
			margin: 0 1rem 0 auto;
			font-family: v.$font;
			option {
				background: #111;
				color: #fff;
			}
		}
	}
}

// --- Line Comment Item ---
.editor-item:has(> .editor-item-comment) {
	margin: 0;
	background: transparent;
	padding: 0;
	font-size: 1.4rem;
	font-family: v.$font;

	textarea,
	input {
		font-family: v.$font;
	}

	> .editor-item-comment {
		@extend %input-clean;
		color: var(--text-4);
		font-style: italic;
		font-size: 1.4rem;
		@media (pointer: coarse) {
			font-size: 1.8rem;
		}
		@include text-ellipsis;
		&:focus {
			text-decoration: unset;
		}
	}

	&:is(:focus-within, :focus-visible, :focus) {
		opacity: 1 !important;
		border: 1px solid transparent !important;
		//border-bottom: 1px solid var(--accent-hover) !important;
		> * {
			color: var(--text-1);
		}
	}
}

.block-comment:has(+ .block-comment + .block-comment),
.block-comment + .block-comment:has(+ .block-comment),
.block-comment + .block-comment + .block-comment {
}

// --- Generic Helpers ---
.editor-item-generic {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--text-2);

	.generic-editor {
		flex-direction: row;
	}

	&#key {
		padding: 0 1rem 0 0.5rem;
		color: var(--accent);
	}

	&#value {
		border: 1px var(--surface-border) solid;
		padding-left: 0.5rem;
		color: var(--teal);
		white-space: nowrap;
		@include text-ellipsis;
	}
}
