@use '@stylesheets/_variables.scss' as v;
@use '../mixins' as *;

.generic-editor {
	&:has(.generic-editor-gradientmodal) {
		background-color: transparent;
	}
	* {
		&:is(:focus) {
			@include isActive;
		}
	}
}

.generic-editor-slidermodal {
	display: flex;
	flex-direction: row;
	width: 100%;

	.slider-styled {
		@extend %slider-base;
	}

	input[type='text'] {
		@extend %input-clean;
		margin-bottom: 0;
		margin-left: 1rem;
		background-color: transparent;
	}
}

.generic-editor-gradientmodal {
	display: flex;
	flex-direction: column;
	border-radius: 0;
	background-color: transparent !important;
	width: 100%;

	* {
		&:is(:focus) {
			@include isActive;
		}
	}

	button {
		@extend %btn-interactive;
		width: 3rem;
	}

	.angle-container {
		display: flex;
		flex-direction: row;
		border-radius: 0;
		width: 100%;

		.slider-styled {
			@extend %slider-base;
			margin: 1rem;
			width: 95%;
			max-width: 90%;
			//overflow: hidden;
		}

		input[type='text'] {
			@extend %input-clean;
			margin-bottom: 0;
			width: 5%;
			min-width: 4ch;
		}
	}

	.color-container {
		display: grid;
		grid-auto-flow: column;
		gap: 1rem;
		transition:
			grid-auto-flow 0.3s,
			grid-auto-rows 0.3s,
			grid-auto-columns 0.3s;
		padding: 1rem;

		&.narrow-child {
			grid-auto-flow: row;
		}

		> * {
			//height: 2.3rem;
		}

		button.addGradientButton {
			flex: 1 0 auto;
			margin: 0;
			//height: 2.1rem;
			border-radius: 0.2rem;
			background-color: var(--surface-1);
			padding: 0;
			width: 100%;
			max-width: 3rem;
			color: var(--accent);
			font-family: v.$font;
			&:is(:focus, :focus-visible, :focus-within) {
				outline: none;
				border: var(--accent) 1px solid !important;
			}
		}

		.gradientColorInput.gradientColorInput {
			position: relative;
			flex: 1 1 auto;
			transition: all 0.1s ease-in-out;
			box-sizing: border-box !important;
			outline: 1px solid transparent;
			border: 2px solid transparent;
			//border-color: transparent;
			background-color: transparent !important;
			&:is(:focus-within, :focus, :focus-visible, :hover) {
				scale: 1 !important;
				outline: 1px solid var(--accent);
			}

			&:is(:focus-within, :focus, :focus-visible, :hover) button {
				opacity: 1;
			}

			button {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				opacity: 0;
				z-index: 3;
				margin: 0;
				border-radius: 0;
				padding: 0;
				width: 1.5rem;
				height: 100%;
				color: var(--text-1);

				&:hover {
					transform: translateY(-50%);
				}
				&:is(:focus-within, :focus, :focus-visible, :hover) {
					scale: 1.2;
					outline: 1px solid var(--accent);
					background: var(--surface-2) !important;
				}

				//&:active {
				//	color: var(--accent);
				//	font-weight: bold;
				//}

				&.removeGradientButton {
					right: 0.5rem;
					background-color: var(--surface-1);
				}

				&.dragButton {
					right: 2.5rem;
					background-color: var(--surface-1);

					&:active {
						cursor: grabbing;
					}

					@media (max-width: 40rem) {
						content: 'X' !important;
					}
				}
			}

			input[type='text'] {
				-webkit-appearance: none;
				z-index: 2;
				//box-shadow: var(--surface-2) 0 3px;
				transition: all 0.2s ease-in-out;
				//border: 1px solid var(--surface-2) !important;
				//border: 2px transparent solid;
				background-clip: padding-box;
				width: 100%;
				height: 100%;
				color: transparent;
			}
		}
	}
}

.generic-editor-beziermodal {
	display: flex;
	flex-direction: column;
	width: 100%;

	.bezier-name-input {
		@include editor-input-reset();
		margin-bottom: var(--spacing-unit) !important;
	}

	.curve-editor-el {
		display: flex;
		// max-width: 100%;
		grid-column: 1rem;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-unit);
		max-height: 30rem;
		> * {
			border-radius: var(--border-radius);
			overflow: hidden;
		}
		.controls {
			display: none;
			flex: 0;
			max-width: 20rem;
			height: 100%;
		}
		.curve-editor {
			display: block; /* important: inline SVG defaults can shrink */
			flex: 2;
			aspect-ratio: 1/1;
			width: 100%; /* fill flex width */
			height: 100%; /* fill flex height */
			touch-action: none;
		}
		.curve-preview {
			flex: 2;
			background-color: var(--surface-2);
		}
	}
}
